/* src/components/Header/Header.css */
.header {
  background-color: #0C0D0D; /* Set the background color */
  padding: 20px; /* Add padding for spacing */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white; /* Optional: Set text color to white */
}

.nav {
  /* Optional: Style your navigation if you have any links */
}

